/* .accordion {
    display: flex;
    min-height: 350px;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.accordion-header {
  background-color: #1a139a;
  padding: 10px;
  cursor: pointer;
}

.accordion-content {
  display: none;
  padding: 10px;
} */
