.changing {
  width: 200px;
  height: 200px;
  background-color: aqua;
}
/* .plus {
    position: relative;
    width: 45px;
    height: 45px;
    background-color: inherit;
  }
  
  .plus::before,
  .plus::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 3px;
    background-color: black;
  }
  
  .plus::before {
    transform: rotate(90deg);
  }
  
  .plus::after {
    transform: rotate(0deg);
    transition: height 2s ease;
  }
  
  .plus:active::before {
    height: 0;
  } */
/*   .plus {
    position: relative;
    width: 45px;
    height: 45px;
    background-color: inherit;
  }
  
  .plus::before,
  .plus::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 3px;
    background-color: black;
    transition: height 0.2s ease-in-out;
  }
  
  .plus::before {
    transform: rotate(90deg);
  }
  
  .plus::after {
    transform: rotate(0deg);
  }
  .plus.active::before {
    display: none;
  } */

  
  
  
  
  
